
###> symfony/framework-bundle ###
APP_SECRET=
###< symfony/framework-bundle ###


MAILER_DSN="smtp://example:example@sandbox.smtp.mailtrap.io:2525"
MAILER_FROM="no-reply@product-catalog.test"
MAILER_INTERNAL="orders@product-catalog.test"

# MAILER_DSN=smtp://127.0.0.1:1025
# MAILER_FROM=no-reply@product-catalog.test
# MAILER_INTERNAL=orders@product-catalog.test
