{% extends 'base.html.twig' %}
{% block title %}Termékek{% endblock %}

{% block body %}
  <div id="catalog-app"></div>
{% endblock %}

{% block vue %}
  {{ vite_entry_link_tags('app') }}
  {{ vite_entry_script_tags('app') }}
{% endblock %}
