<!DOCTYPE html>
<html lang="hu">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Catalog{% endblock %}</title>
  {{ vite_entry_link_tags('app') }}
</head>
<body class="min-h-screen bg-gray-50 text-slate-800">

  <div id="app"></div>
  {{ vite_entry_link_tags('app') }}
  {{ vite_entry_script_tags('app') }}
</body>
</html>
